@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Craddle 2 Community  💜</h1>
    <p class="lead"> Is a way to building great connections with the community around you.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Communities are stronger <strong>Together.</strong>  💜
            <br />

            This app will surely take the hassle out of searching through hours of unknown sites.
            <br />
            We will reqeust all the informations for you and connect you
            <br />
            and your family with great  childcare providers.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"> Click for more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more </h2>
        <p>
            Feel more secured by going to <em>Reviews</em> section and  <strong>engage</strong> on all forms of socail media.
            <br />
            Or learn more behind the seen and learn more about our Childcare Solution Work force
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Child Learning Sites</h2>
        <p>
            Feel like you got this parenting in the bag and just need a little guidance on what your child should be learning.
            <br /> 
            <strong>Well</strong>, we have you covered and have a multitude of child learning and development tools to choose from.
</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<nav aria-label="Page navigation">
    <ul class="pagination pagination-lg">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>